.main-container {
  width: 550px;
  height: 350px;
  outline: 2px solid brown;
  background-color: beige;
  border: 3px solid rgba(165, 46, 42, 0.623);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.buttons {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}
.count-button {
  border-radius: 40%;
  border: 2px solid;
}
.INC {
  color: green;
  font-weight: bold;
}
.RES {
  color: grey;
}
.DEC {
  color: red;
}
/* rgba(128, 128, 128, 0.699) */
